{% load static %}
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy-white.min.css"/>
</head>
<body>
  <div class="alchemy" id="alchemy"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/scripts/vendor.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alchemyjs/0.4.2/alchemy.min.js"></script>
  <script type="text/javascript">
        var config = {
            dataSource: '{% static 'graph' %}/graphJSON.json',
            nodeCaptionsOnByDefault: true,
            directedEdges:true,
            forceLocked: false,
            linkDistance: function(){ return 40; },
        }; 
        alchemy = new Alchemy(config)
    </script>
</body>
</html>